<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav class="navbar">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/works">Works</a> | <a href="/photo-gallery">Photo Gallery</a>
      </nav>
      <h1>Life of Frank Gehry</h1>
      <p>Frank Owen Gehry (born February 28, 1929) is a Canadian-born American architect and designer.</p>
      <p>A number of his buildings, including his private residence in Santa Monica, California, have become world-renowned attractions.</p>
      <p>His works are considered among the most important of contemporary architecture in the 2010 World Architecture Survey, leading Vanity Fair to call him "the most important architect of our age".</p>
      <p>He is also the designer of the National Dwight D. Eisenhower Memorial.</p>
  
      <h2>Education</h2>
      <p>In 1947, Gehry's family immigrated to the United States, settling in California. He got a job driving a delivery truck and studied at Los Angeles City College. He went on to graduate from the University of Southern California's School of Architecture.</p>
      <p>Gehry graduated with a Bachelor of Architecture degree from the University of Southern California in 1954.</p>
      <p>After graduation, he briefly worked in other jobs, including service in the United States Army. In the fall of 1956, he moved his family to Cambridge, Massachusetts, where he studied city planning at the Harvard Graduate School of Design. He left before completing the program.</p>
  
  </body>
</html>
