<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/works">Works</a> | <a href="/photo-gallery">Photo Gallery</a>
      </nav>
  <h1>List of works by Frank Gehry</h1>
      <ul>
        <li>360 Newbury Street, Boston, Massachusetts, 2005</li>
<li>David Cabin, Idyllwild, California, 1957</li>
<li>Kline Residence, Bel Air, California, 1963</li>
<li>Park West Apartments, Irvine, California, 1970</li>
<li>Ronald Davis Studio & Residence, Malibu, California, 1972</li>
<li>Exhibit Center, Merriweather Post Pavilion, Rouse Company Headquarters, and Fire Station, Columbia, Maryland, 1974</li>
<li>Concord Pavilion, Concord, California, 1975</li>
<li>Harper House, Baltimore, Maryland, 1977</li>
<li>Gehry Residence, Santa Monica, California, 1978</li>
<li>Loyola Law School (various buildings), Los Angeles, California, 1978-2002</li>
<li>Spiller House, Venice, California, 1980</li>
<li>Santa Monica Place, Santa Monica, California, 1980</li>
<li>Cabrillo Marine Aquarium, San Pedro, California, 1981</li>
<li>California Aerospace Museum, California Museum of Science and Industry, Los Angeles, California, 1984</li>
<li>Edgemar Retail Complex, Santa Monica, California, 1984</li>
<li>Norton House, Venice, California, 1984</li>
<li>Frances Howard Goldwyn Hollywood Regional Library, Hollywood, California, 1985</li>
<li>Information and Computer Science (ICS)/Engineering Research Facility (ICS/ERF), University of California, Irvine, California, 1986</li>
<li>Sirmai-Peterson House, Thousand Oaks, California, 1984-86</li>
<li>Winton Guest House, Owatonna, Minnesota, 1987</li>
<li>Yale Psychiatric Institute, Yale University, New Haven, Connecticut, 1989</li>
<li>Rockwell and Marna Schnabel House, Brentwood, California, 1986-89</li>
<li>Herman Miller factory (currently William Jessup University), Rocklin, California, 1987-89</li>
<li>Vitra Design Museum, Weil am Rhein, Germany, 1989</li>
<li>Rockwell Engineering Center and McDonnell Douglas Engineering Auditorium, University of California, Irvine, California, 1990</li>
<li>Chiat/Day Building, Venice, California, 1991</li>
<li>Artists' Studios, Santa Monica, California, 1991</li>
<li>Iowa Advanced Technology Laboratories, University of Iowa, Iowa City, Iowa, 1992</li>
<li>Disney Village, Disneyland Paris, Marne-la-Vallée, France, 1992</li>
<li>Olympic Fish, Olympic Village, Barcelona, Spain, 1992</li>
<li>Frederick Weisman Museum of Art, University of Minnesota, Minneapolis, Minnesota, 1993</li>
<li>Center for the Visual Arts, Toledo, Ohio, 1993</li>
<li>Cinémathèque Française, Paris, France, 1994</li>
<li>Vitra International Headquarters, Basel, Switzerland, 1994</li>
<li>Siedlung Goldstein, Frankfurt, Germany, 1994</li>
<li>Energie Forum Innovation, Bad Oeynhausen, Germany, 1995</li>
<li>Anaheim Ice, Anaheim, California, 1995</li>
<li>Team Disney Anaheim, Anaheim, California, 1996</li>
<li>Dancing House, Prague, Czech Republic, 1996</li>
<li>Guggenheim Museum Bilbao, Bilbao, Spain, 1997</li>
<li>Der Neue Zollhof, Düsseldorf, Germany, 1999</li>
<li>University of Cincinnati Academic Health Center, University of Cincinnati, Cincinnati, Ohio, 1999</li>
<li>Condé Nast Publishing Headquarters Cafeteria, Times Square, New York City, New York, 2000</li>
<li>DZ Bank building, Pariser Platz, Berlin, Germany, 2000</li>
<li>Museum of Pop Culture, Seattle, Washington, 2000</li>
<li>Gehry Tower, Hanover, Germany, 2001</li>
<li>Issey Miyake flagship store, Manhattan, New York, 2001</li>
<li>Weatherhead School of Management Peter B. Lewis building, Case Western Reserve University, Cleveland, Ohio, 2002</li>
<li>Richard B. Fisher Center for the Performing Arts, Bard College, Annandale-on-Hudson, New York, 2003</li>
<li>Maggie's Dundee, Ninewells Hospital, Dundee, Scotland, 2003</li>
<li>Walt Disney Concert Hall, Los Angeles, California, 2003</li>
<li>Ray and Maria Stata Center, Massachusetts Institute of Technology, Cambridge, Massachusetts, 2004</li>
<li>Jay Pritzker Pavilion, Millennium Park, Chicago, Illinois, 2004</li>
<li>BP Pedestrian Bridge, Millennium Park, Chicago, Illinois, 2004</li>
<li>MARTa Herford, Herford, Germany, 2005</li>
<li>IAC/InterActiveCorp West Coast Headquarters, West Hollywood, California, 2005</li>
<li>Marqués de Riscal Hotel, Elciego, Spain, 2006</li>
<li>IAC Building, Chelsea, Manhattan, New York, 2007</li>
<li>Mariza show stage, at the Walt Disney Concert Hall, Los Angeles, California, 2007</li>
<li>Art Gallery of Ontario, Toronto, Ontario, 2008</li>
<li>Peter B. Lewis Library, Princeton University, Princeton, New Jersey, 2008</li>
<li>Serpentine Gallery 2008 Summer Pavilion, London, England, 2008</li>
<li>Novartis Pharma A.G. Campus, Basel, Switzerland, 2009</li>
<li>Danish Cancer Society Counseling Center, Aarhus, Denmark, 2009</li>
<li>Lou Ruvo Center for Brain Health, Las Vegas, Nevada, 2010</li>
<li>Ohr-O'Keefe Museum Of Art, Biloxi, Mississippi, 2010</li>
<li>New World Center, Miami Beach, Florida, 2011</li>
<li>New York by Gehry at Eight Spruce Street, Manhattan, New York, 2011</li>
<li>Opus Hong Kong, Hong Kong, Hong Kong, 2011</li>
<li>Pershing Square Signature Center, Manhattan, New York, 2012</li>
<li>Duplex Residence, New Orleans, Louisiana, 2012</li>
<li>Five Hole, Winnipeg, Canada, 2012</li>
<li>Maggie's Hong Kong, Hong Kong, Hong Kong, 2013</li>
<li>Biomuseo, Panama City, Panama, 2014</li>
<li>Louis Vuitton Foundation for Creation, Paris, France, 2014</li>
<li>Dr. Chau Chak Wing Building, University of Technology, Sydney, Australia, 2014</li>
<li>Facebook West Campus, Menlo Park, California, 2015</li>
<li>Pierre Boulez Concert Hall, Berlin, Germany, 2017</li>
<li>Frank Gehry Residence, Santa Monica, California, 2017</li>
<li>Michael Eisner Residence, Basalt, Colorado, 2018</li>
<li>Thomas Safran & Associates Headquarters, Brentwood, California, 2019</li>
<li>Louis Vuitton Maison Seoul, Seoul, South Korea, 2019</li>
<li>Dwight D. Eisenhower Memorial, Washington, D.C., 2020</li>
<li>LUMA Arles, Arles, France, 2021</li>
<li>Youth Orchestra Los Angeles Concert Hall, Inglewood, California, 2021</li>
<li>The Children's Institute, Watts, Los Angeles, California, 2022</li>
<li>Grand Avenue Project, Los Angeles, California, 2022</li>
      </ul>
</body>
</html>